extends layout
block main
  .contact-page.other-page
    .map-contact(style="background-image: url('images/map-contact.jpg');")
      a(href='#')
    .wrapper-contact.bg-blue

      .container
        .why-choose
          h1.title contact us
          ul.row
            li.col-md-4
              h3.sub-title Contact Details
              span.content-title Phone
              a(href="tel:0295976788"): span.content (02) 9597 6788
              span.content-title Fax
              span.content (02) 9597 6273
              span.content-title Email
              a(href="mailto:info@patragroup.com.au"): span.content info@patragroup.com.au
            li.col-md-4
              h3.sub-title Address
              span.content-title WAREHOUSE
              span.content 4/450-464 W Botany St Rockdale NSW 2216
              span.content-title MAILING
              span.content P.O. Box 815 Rockdale NSW 2216
            li.col-md-4
              h3.sub-title DIRECT
              span.content-title Nectarios Kounavis
              a(href="mailto:email@patragroup.com.au"): span.content email@patragroup.com.au
              span.content-title George Kounavis
              a(href="mailto:email@patragroup.com.au"): span.content email@patragroup.com.au
