extends layout
block slider
  .wrapper-main-bxslider
    ul.main-bxslider
      li
        img(src="images/slide-1.jpg" height="730")
        .title
          h3 able to evolve with new design concepts and modern trends.
          span Giving the client the opportunity to capture customers with ease.
      li
        img(src="images/slide-2.jpg" height="730")
        .title
          h3 able to evolve with new design concepts and modern trends.
          span Giving the client the opportunity to capture customers with ease.
      li
        img(src="images/slide-3.jpg" height="730")
        .title
          h3 able to evolve with new design concepts and modern trends.
          span Giving the client the opportunity to capture customers with ease.
      li
        img(src="images/slide-4.jpg" height="730")
        .title
          h3 able to evolve with new design concepts and modern trends.
          span Giving the client the opportunity to capture customers with ease.
block main
  .services
    .container
      h1.title services
      ul.services-list
        li
          a(href="")
            h4.sub-title
              span stainless steel fabrication
              .traingle
            p
              i.iconsp-steel
            ul.name-list
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
        li
          a(href="")
            h4.sub-title
              span refrigeration
              .traingle
            p
              i.iconsp-fridge
            ul.name-list
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
        li
          a(href="")
            h4.sub-title
              span shopfitting
              .traingle
            p
              i.iconsp-shopfitting
            ul.name-list
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
        li
          a(href="")
            h4.sub-title
              span catering equipment
              .traingle
            p
              i.iconsp-catering
            ul.name-list
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
              li

                span Service Name
        li
          a(href="")
            h4.sub-title
              span design & consilation
              .traingle
            p
              i.iconsp-design
            ul.name-list
              li
                span Service Name
              li
                span Service Name
              li
                span Service Name
              li
                span Service Name
  .why-choose
    .background-before
      img(src="images/before-why-choose.jpg" height="280")
    .container
      h1.title why choose patra group
      ul.row
        li.col-md-4
          h3.sub-title experience
          p Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        li.col-md-4
          h3.sub-title quality
          p Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        li.col-md-4
          h3.sub-title modern
          p Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      a(href="").read-more read more about us
    .background-after
      img(src="images/after-why-choose.jpg" height="143")
  .testimonials
    .container
      h1.title testimonials
      ul.testimonials-bxSlider
        li
          div
            a(href="").logo-image
              img(src="images/testimonials-logo-1.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company pasiri's
              span Eastwood
          div
            a(href="").logo-image
              img(src="images/testimonials-logo-1.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company pasiri's
              span Eastwood
        li
          div
            a(href="").logo-image(style="padding-top: 24px;")
              img(src="images/testimonials-logo-2.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company subway
              span Marrickville
          div
            a(href="").logo-image
              img(src="images/testimonials-logo-3.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company garlos pies
              span Eastwood
        li
          div
            a(href="").logo-image
              img(src="images/testimonials-logo-1.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company pasiri's
              span Eastwood
          div
            a(href="").logo-image
              img(src="images/testimonials-logo-3.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              h4.company garlos pies
              span Eastwood






