extends layout
block slider
  .sider
    .container
      img(src="images/slider.jpg" height="730")
block main
  .container
    h2.title cute things for kids
    ul.product-slider
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="")
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
      li
        a(href="")
          img(src="images/product.jpg")
        .product-title
          a(href="") Knitted Alpaca Zebra Handpuppet
        .product-bottom
          .product-price.price-center $29.99
          a.view-product(href="") View
    .col-md-4
      .welcome
        h2.title welcome
        h4 At Trade Aid we're all about change. We're helping talented people around the world improve their lives through trade.
        p
          b Made fair:
          span The way we trade helps producers improve their lives.
        p
          b Made by people:
          span Skilled artisans make our beautiful products.
        p
          b Made to feel good:
          span Buying our products changes the world for good.
        p We are a truly unique New Zealand based fair trade organisation which goes above basic fair trade standards...
        a.read-more(href="") Read more about what makes us unique
          span.arrow-green
        div
          img(src="images/wfto-homepage-update.png")
    .col-md-4
      .latest-news
        h2.title latest news
        .content-latest-new
          a(href="").content-image
            img(src="images/latest-news.jpg")
          .content-text
            h5 Book launch
            p.date 3 August 2015
            p The Wellington Trade Aid shop celebrated their 40th anniversary last year. As a part of...
              a.arrow-green(href="")
      .features
        h2.title latest news
        .content-features
          a(href="").content-image
            img(src="images/feature.jpg")
          .content-text
            h5 Free Shipping
            p Shop online, spend $49 or more in one transaction and receive Free shipping! See our freight policy for details & terms. SHOP NOW...
              a.arrow-green(href="")
      .central-banner
        a(href="")
          img(src="images/fair-trade-at-work.jpg")
    .col-md-4
      .central-banner
        a(href="")
          img(src="images/fair-trade-at-work.jpg")
      .stories-of-changes
        a(href="").content-image
          img(src="images/stories-of-changes.jpg")
        .content-text
          h4.sub-title Stories of change
          p.character Anzir Ahmed - ex child labourer
          p Child labour is an issue that Tara Projects, a Trade Aid trading partner in India, works hard to educate about and work ...
          .view-more
            a.read-more(href="") read more »
            a.view-all(href="") view all stories »










