doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Your Site
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
    // stylesheet
    link(rel="icon" type="image/png" href="images/favicon.ico")
    link(href='scss/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href="scss/slick.css", type='text/css', rel='stylesheet')
    link(href='scss/style.css', type='text/css', rel='stylesheet')
  body
    .home-page.page
      .slider
        #header.header
          .container
            a(href="index.html").logo
              img(src="images/logo.png")
              .logo-traingle
            .navbar
              .info
                span (02)9597 6788
                span info@patragroup.con.au
                span 4/450 West Botany Street, Rockdale NSW, 2216
              ul.menu
                li
                  a(href="about-us.html") about
                li.service-hover
                  a(href="") services
                  ul.sub-menu
                    li: a.scroll(href="stainless-steel-fabrication.html") stainless steel fabrication
                    li: a.scroll(href="refrigeration.html") refrigeration
                    li: a.scroll(href="shopfitting.html") shopfitting
                    li: a.scroll(href="catering-equipment.html") catering equipment
                    li: a.scroll(href="design-consilation.html") design & consilation
                li
                  a(href="portfolio.html") portfolio
                li
                  a(href="contact.html") contact
            .enquire
              .btn-enquire
                i.iconsp-35-enquire
                span enquire
        form.box-enquire
          #upload-panel
            .content-upload-panel
              span.iconsp-25-delete-black.close-panel
              h1.title Upload a files
              .form-group
                each val in [1,2,3,4]
                  label
                    span.btn.btn-black Choose file
                    input(type='file' name='fileImage[]')
                    input.form-control(type='text' class='show-path-file' placeholder='No File Selected' readonly)

                   span.iconsp-25-delete-white.delete-img-path
              .form-group.text-center
                a.btn.btn-black.btn-save(href='javascript:void(0)') Save

          .container
            .row
              .col-md-3
                .first-col
                  .title get in touch
                  p.content.visible-md.visible-lg(class='hidden-*') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              .col-md-6
                .second-col
                  .form-group.row
                    .col-md-6
                      input.form-control(type="text" id="usr" placeholder="Name")
                    .col-md-6
                      input.form-control(type="text" id="usr" placeholder="Phone")
                  .form-group.row
                    .col-md-6
                      input.form-control(type="text" id="usr" placeholder="Email")
                    .col-md-6
                      .select-style
                        select.size
                          option Enquire Type
                          option General Enquiry
                          option Quote
                          option Carrers
                          option Other
                  .form-group
                    input.form-control(type="text" id="usr" placeholder="Site Address")
                  .form-group
                    input.form-control(type="text" id="usr" placeholder="Company Name")
                  .form-group
                    textarea.form-control(type="text" id="usr" placeholder="Enquiry")
              .col-md-3
                .last-col
                  button.btn.btn-cancel(type="button") cancel
                  button.btn-upload.btn.btn-primary.btn-lg(type="button") upload files
                    span.iconsp-25-check-black.check-image
                  .btn.btn-submit
                    input(type="submit" value='submit')
          .bg-contac-form: img(src = 'images/bottom-bg-form.png')

        #header-mobile.header
          ul#menu.menu
            li
              a.scroll(href="about.html") about
            li
              a.scroll(href="") services
              ul
                li: a.scroll(href="") stainless steel fabrication
                li: a.scroll(href="") refrigeration
                li: a.scroll(href="") shopfitting
                li: a.scroll(href="") catering equipment
                li: a.scroll(href="") design & consilation
            li
              a.scroll(href="portfolio.html") portfolio
            li
              a.scroll(href="contact.html") contact
            li
              a.enquire.scroll
                i.iconsp-35-enquire-mobile
                span enquire
          #main-menu
            a(href="index.html").logo
              img(src="images/logo.png")
              .logo-traingle
            .contact-mobile
              ul
                li: a(href="https://login.live.com/" target="_blank")
                  i.iconsp-35-email
                li: a(href="https://www.google.com.au/maps/place/450-464+W+Botany+St,+Rockdale+NSW+2216/@-33.960414,151.145595,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12b756afab412b:0x7be2c525df1e34c" target="_blank")
                  i.iconsp-35-location
                li: a(href="tel:0295976788")
                  i.iconsp-35-phone-white
              a.phone-mobile(href="tel:0295976788"): i.iconsp-35-phone-black
        block slider

      block main

      .footer
        .container
          ul.row
            li.col-md-4
              i.iconsp-35-facebook
              a(href="http://openseed.com.au/~patragroup/") Privacy Policy
            li.col-md-5
              span Copyright © 2014 Patra Group Pty Ltd. All rights reserved.
            li.col-md-3
              span Designed by Openseed



    script(src="js/jquery.min.js" type='text/javascript')
    script(src="js/slick.min.js" type='text/javascript')
    script(src='js/jquery.bxslider.min.js' type='text/javascript')
    script(src='js/jquery.slicknav.min.js' type='text/javascript')
    script(src='js/bootstrap.min.js' type='text/javascript')
    script(src='js/script.js' type='text/javascript')

