extends layout
block main
	.product-page.other-page
		.container
			.row
				.col-md-3
					.sub-menu
						h2.heading Gift Ideals
						ul
							li.item
								a(href="")	For Babies
							li.item
								a(href="")	For Her
							li.item
								a(href="")	For Him
							li.item
								a(href="")	For Kids
							li.item
								a(href="")	Gift Boxes
							li.item
								a(href="")	Gift Vouchers
							li.item
								a(href="")	Green
					.sub-menu
						h2.heading Product Categories
						ul
							li.item
								a(href="") Home & Living
							li.item
								a(href="") Food
							li.item
								a(href="") Personal Accessories
							li.item
								a(href="") Kids
							li.item
								a(href="") Musical Instruments
							li.item
								a(href="") Outdoor
							li.item
								a(href="") Beauty & Wellbeing
							li.item
								a(href="") Office & Stationery
							li.item
								a(href="") Gallery
							li.item
								a(href="") Craft Cards & Paper
					.sub-menu
						h2.heading Trade Aid Store Locations
						ul
							li.item
								a(href="") Auckland
							li.item
								a(href="") Bay of Plenty
							li.item
								a(href="") Canterbury
							li.item
								a(href="") Central Plateau
							li.item
								a(href="") Hawkes Bay - Gisborne
							li.item
								a(href="") Manawatu
							li.item
								a(href="") Nelson - Marlborough
							li.item
								a(href="") Northland
							li.item
								a(href="") Otago
							li.item
								a(href="") Taranaki
							li.item
								a(href="") Waikato
							li.item
								a(href="") Wairarapa
							li.item
								a(href="") Wellington
					.sub-menu
						h2.heading Stockists
						ul
							li.item
								a(href="") Auckland
							li.item
								a(href="") Bay of Plenty
							li.item
								a(href="") Canterbury
							li.item
								a(href="") Central Plateau
							li.item
								a(href="") Hawkes Bay - Gisborne
							li.item
								a(href="") Manawatu
							li.item
								a(href="") Nelson - Marlborough
							li.item
								a(href="") Northland
							li.item
								a(href="") Otago
							li.item
								a(href="") Southland
							li.item
								a(href="") Taranaki
							li.item
								a(href="") Waikato
							li.item
								a(href="") Wairarapa
							li.item
								a(href="") Wellington
							li.item
								a(href="") West Coast
				.col-md-9
					.route
						a(href="") Home 
						> 
						a(href="") Shop 
						> 
						a(href="") Home & Living 
						> 
						a(href="") Decorative 
						> 
						a(href="") Door Accessories
					.row
						.col-md-8
							.product-content
								.row
									.col-md-6
										.image
											img(src="images/product.jpg")
									.col-md-6
										.content
											h3.title Cat With Bow-Tie Draught Stopper
											p.product-code Product Code: 27.03.2325
											p Every piece of material in this delightfully handcrafted doorstop is made from scratch. Cotton is prepared and woven by artisans using traditional weaving techniques. These hand-woven cottons in beautiful soft colours and textures are sewn together and filled to create a sweet cat doorstop.
											p.dimensions Dimensions: L90 CM
											p.price Price:
												b $49.99
											.quantity
												span Quantity:
												input(type="text" value="1")
											a(href="").add-to-cart
												img(src="images/cart.gif")
											.clear-both
							.made-by
								.row
									.col-md-9
										h5 made by
										h2.heading MAHAGUTHI - CRAFT WITH A CONSCIENCE
										p To create an economically and socially prosperous society based on equity. Adhering fair trade values and principles, we provide goods, finance, social and other services as per the expectation of dep... 
											a(href="") more...
									.col-md-3
										img(src="images/made-by.jpg")
						.col-md-4
							.my-basket
								h2.heading my basket
								.my-basket-list
									.product
										a(href="product.html").name Felt Lion Hand Puppet
										span.price $29.99
										.clear-both
										span.count 1x$29.99
									.freight
										span Freight
										span.price $6.5
										.clear-both
								.total
									| Total: 
									span.price
										| $36.49
									.checkout
										img(src="images/checkout.gif")
									a(href="").clear-both
								.clear-both


