html {
  background-color: $white;
}
body {
  background-color: $black;
  color: $white;
  font-family: $proxima_nova_light;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
//  width: 1218px;
//  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
}
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h1 {
  font-size: 52.54px;
}

h3 {
  font-size: 23px;
  line-height: 33px;
}

h4 {
  font-size: 20.32px;
  line-height: 23px;
}

input,
textarea,
select {
  border-radius: 3px;
  border: 0;
  padding: 7px;
  color: #757575;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  &:active,
  &:focus {
    outline: none;
  }
}
.bg-blue {
  background: url('img/bg-blue.png');
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #757575;
}
.other-page {
  padding: 82px 0 107px;
}
