@mixin fontFace($shortNameFont, $fontName) {
  font-family: $shortNameFont;
  src: url($fontPath + '/'+ $fontName + '.eot');
  src: url($fontPath + '/'+ $fontName +'.eot?#iefix') format('embedded-opentype'),
  url($fontPath + '/'+ $fontName +'.woff') format('woff'),
  url($fontPath + '/'+ $fontName +'.ttf') format('truetype'),
  url($fontPath + '/'+ $fontName +'.svg#'+ $shortNameFont) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include fontFace($proxima_nova_bold, 'ProximaNova-Bold');
}

@font-face {
  @include fontFace($proxima_nova_extrabold, 'ProximaNova-Extrabld');
}

@font-face {
  @include fontFace($proxima_nova_light, 'ProximaNova-Light');
}

@font-face {
  @include fontFace($proxima_nova_regular, 'ProximaNova-Regular');
}

@font-face {
  @include fontFace($roboto_condensed_regular, 'RobotoCondensed-Regular');
}

@font-face {
  @include fontFace($roboto_condensed_bold, 'RobotoCondensed-Bold');
}

@font-face {
  @include fontFace($roboto_condensed_light, 'RobotoCondensed-Light');
}
