.home-page {
  padding-bottom: 1px;
  .header {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    width: 100%;
    z-index:20;
  }
  .product-slider {
    li {
      font-family: $proxima_nova_bold;
      img {
        display: block;
        width: 130px !important;
        height: 130px !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
      }
      .product-title {
        text-align: center;
        margin-top: 13px;
        font-weight: bold;
      }
      .product-bottom {
        width: 160px;
        text-align: center;
        margin-top: 20px;
        .product-price {
          display: inline-block;
          vertical-align: middle;
          font-size: 13px;
          color: #000;
        }
        .view-product {
          color: #fff;
          display: inline-block;
          vertical-align: middle;
          background: #dc0b33;
          border-radius: 10px;
          width: 48px;
          text-align: center;
          font-size: 11px;
          text-transform: uppercase;
          padding: 4px;
          letter-spacing: 1px;
          margin-left: 10px;
        }
      }
    }
  }
  .bx-pager.bx-default-pager {
    display: none;
  }
  .bx-wrapper {
    .bx-next {
      background: url(../images/rightarrow.gif) no-repeat center;
      right: 0;
    }
    .bx-prev {
      background: url(../images/leftarrow.gif) no-repeat center;
      left: 0;
    }
  }
  .bx-viewport {
    margin-bottom: 50px;
  }
  .welcome {
    h4 {
      margin-bottom: 16px;
    }
    p {
      font-size: 12px;
      margin-bottom: 5px;
      color: #000;
    }
  }
  .content-image {
    display: inline-block;
    vertical-align: top;
  }
  .content-text {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    h5 {
      font-size: 14px;
    }
    p {
      color: #000;
      &.date {
        text-transform: uppercase;
        font-size: 10px;
        font-family: $proxima_nova_bold;
      }
    }
  }
  .welcome {
    .read-more {
      color: #63852c;
      font-size: 14px;
      font-family: "proxima_nova_bold";
      margin: 14px 0;
      display: block;
    }
  }
  .central-banner {
    margin-bottom: 30px;
  }
  .stories-of-changes {
    position: relative;
    .content-text {
      background: #4f6f18 url(../images/impactstorybg2.jpg) repeat-y left top;
      padding: 10px;
      width: 100%;
      position: absolute;
      bottom: -65px;
      .sub-title {
        color: #cdbf96;
        font-size: 18px;
      }
      p {
        color: #fff;
        &.character {
          color: #cdbf96;
          font-size: 14px;
        }
      }
    }
    .view-more {
      float: right;
      a {
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 20px;
        font-family: $proxima_nova_bold;
      }
    }
  }
}
.slider {
  margin-bottom: 40px;
}
h2.title {
  color: #e0002d;
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px dashed rgb(182, 182, 182);
  margin-bottom: 25px;
}
.arrow-green {
  background: #4c6b17 url(../images/arrow.png) no-repeat center;
}