.home-page {
  padding-bottom: 1px;
  .header {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index:20;
  }
  .slider {
    li {
      position: relative;
      .title {
        position: absolute;
        bottom: 7.5%;
        right: 0;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 50px 145px 85px 42px;
        width: 520px;
        &:after {
          position: absolute;
          content: "";
          width: 0px;
          border-top: 147px solid transparent;
          border-bottom: 147px solid transparent;
          border-right: 56px solid rgba(0, 0, 0, 0.6);
          left: -56px;
          top: 0px;
        }
        h3 {
          font-family: $proxima_nova_extrabold;
          font-size: 25px;
          text-transform: uppercase;
          line-height: 33px;
          letter-spacing: 2px;
        }
        span {
          display: block;
          font-family: $roboto_condensed_regular;
          line-height: 25.5px;
          font-size: 16px;
        }
      }
    }
    .bx-wrapper {
      top: -70px;
    }
    .bx-pager {
      bottom: 13%;
      right: 27.7%;
      text-align: right;
      .bx-pager-item {
        text-align: center;
        margin-right: 16px;
      }
    }
  }

}
.services {
  margin-top: -16px;
  .services-list {
    margin-top: 62px;
    li {
      background-image: url("img/bg-blue.png");
      display: inline-block;
      width: 18%;
      margin-right: 20px;
      vertical-align: top;
      border: 0;
      h4.sub-title {
        text-align: center;
        text-transform: uppercase;
        font-family: "roboto_condensed_bold";
        height: 68px;
        display: table;
        width: 100%;
        position: relative;
        span {
          display: table-cell;
          vertical-align: middle;
        }
        .traingle {
          position: absolute;
          background-image: url("../images/traingle.png");
          background-repeat: no-repeat;
          height: 12px;
          width: 100%;
          bottom: -12px;
          z-index: 9;
          background-size: 100%;
          left: 0;
        }

      }
      p {
        padding: 55px 0 40px 0;
        text-align: center;
        background-color: $black;
        display: block;
      }
      .name-list {
        padding: 70px 23px;
        position: relative;
        min-height: 260px;
        li {
          display: block;
          width: 100%;
          font-family: $proxima_nova_light;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:before {
            content: '';
            /* font-size: 20px; */
            display: inline-block;
            height: 5px;
            width: 5px;
            background: #fff;
            border-radius: 50%;
            margin-right: 4px;
            position: relative;
            top: -1px;
          }
          span {
            line-height: 30px;
            vertical-align: middle;
            letter-spacing: 1px;
          }
          .dot {
            display: inline-block;
            font-size: 45px;
            line-height: 0;
            width: 10px;
            height: 24px;
            margin-top: -5px;
            margin-right: 4px;
          }
        }
        &:before {
          position: absolute;
          content: "";
          width: 0px;
          border-right: 11px solid transparent;
          border-left: 11px solid transparent;
          border-bottom: 11px solid #1ca5d7;
          left: 44%;
          top: -21px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.why-choose {
  background-image: url("img/bg-blue.png");
  margin-top: 336px;
  position: relative;
  .background-before {
    position: absolute;
    top: -280px;
    left: 0;
    width: 100%;
    height: 280px;
  }
  .background-after {
    position: absolute;
    bottom: -143px;
    left: 0;
    width: 100%;
    height: 143px;
  }
  h1.title {
    margin: 40px 0  62px 0;
    padding: 0 250px;
  }
  ul {
    li {
      border: 1px solid #bae4f3;
      padding: 40px 56px;
      margin-right: 5%;
      width: 30%;
      &:last-child {
        margin-right: 0;
      }
      h3.sub-title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: $roboto_condensed_bold;
        text-shadow: 1px 0 4px rgba(0,0,0,0.4);
      }
      p {
        font-size: 20px;
        text-align: justify;
        line-height: 25px;
      }
    }
  }
  a.read-more {
    text-align: center;
    background: $black;
    width: 216px;
    margin: 70px auto;
    text-transform: uppercase;
    padding: 18px 0px;
    border-bottom: 1px solid #ababab;
    position: relative;
    font-size: 20px;
    display: block;
    font-family: $roboto_condensed_regular;
    word-spacing: 2px;
    letter-spacing: 0px;
    &:after {
      position: absolute;
      content: "";
      width: 0px;
      border-right: 108px solid transparent;
      border-left: 108px solid transparent;
      border-bottom: 12px solid $black;
      left: 0;
      top: -12px;
    }
  }
}
.testimonials {
  margin-bottom: 180px;
  h1.title {
    margin: 210px 0 58px 0;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  ul {
    font-size: 16.26px;
    color: black;
    li {
      > div {
        margin-bottom: 30px;
        display: table;
      }
      .logo-image {
        width: 220px;
        height: 220px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background-color: #fff;
        position: relative;
        img {
          width: auto;
          height: auto;
          margin: 0 auto;
        }
        &:after {
          position: absolute;
          content: "";
          width: 0px;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-left: 10px solid $white;
          right: -10px;
          top: 45%;
          z-index: 1;
        }
      }
      .content {
        display: table-cell;
        width: 77%;
        background-image: url("img/bg-gray.png");
        position: relative;
        vertical-align: top;
        padding: 0 70px;
        i {
          zoom: 1.1;
          position: absolute;
          bottom: 84px;
          right: 78px;
          &:first-child {
            top: 37px;
            left: 54px;
          }
        }
        p {
          line-height: 24.39px;
          margin: 48px 0px 20px 0px;
          position: relative;
          &:before {
            content: url("img/quoteopen.png");
            position: absolute;
            width: 0px;
            left: -10px;
            top: 0;
          }
          &:after {
            content: url("img/quoteclose.png");
            position: absolute;
            width: 0px;
            right: 40px;
            bottom: -4px;
          }
        }
        h4.company {
          text-transform: uppercase;
          font-family: $proxima_nova_bold;
          margin-bottom: 4px;
        }
        span {
          font-family: $roboto_condensed_light;
        }
      }
    }
  }
  .bx-pager {
    bottom: -40px;
  }
  .bx-pager-item {
    margin: 0 10px;
  }
}
.wrapper-main-bxslider{
//  width: 1218px;
//  margin: 0 auto;
}