.portfolio-page {
  padding-bottom: 0;
  margin-bottom: 60px;
  background: #232426; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjMyNDI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjMyNDI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTcxODE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3MTgxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #232426 0%, #232426 50%, #171819 50%, #171819 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#232426), color-stop(50%,#232426), color-stop(50%,#171819), color-stop(100%,#171819)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #232426 0%,#232426 50%,#171819 50%,#171819 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #232426 0%,#232426 50%,#171819 50%,#171819 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #232426 0%,#232426 50%,#171819 50%,#171819 100%); /* IE10+ */
  background: linear-gradient(165deg,  #232426 0%,#232426 50%,#171819 50%,#171819 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232426', endColorstr='#171819',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  ul.portfolio-bxslider img {
    height: 178px;
    width: 178px;
  }
  .mobile-version {
    display: none;
  }
  .bx-viewport {
    height: 258px !important;
  }
  h1.title {
    margin: 48px 0 57px 0;
  }
  .image-list li {
    width: 170px;
    height: 170px;
    display: inline-block;
    margin-right: 25px;
    margin-left: 0;
    background: #000000;
    opacity: 0.8;
    &.active {
      opacity: 1;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 0px;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 17px solid #ffffff;
        right: 41%;
        bottom: -89px;
      }
    }
    a {
      padding: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .tab-content {
    .content-pane {
      margin-bottom: 55px;
    }
    .tab-pane.active {
      background: $white;
      padding: 37px 52px 42px 0;
      color: black;

    }
  }
  .image-content {
    float: right;
    width: 500px;
    margin-left: 39px;
  }
  .company-info {
    .company-name {
      background: $blue;
      display: inline-block;
      width: 370px;
      padding: 34px 0 29px 68px;
      color: white;
      position: relative;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.18);
      -ms-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.18);
      &:before {
        position: absolute;
        content: "";
        width: 0px;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 22px solid #1ca5d7;
        right: -22px;
        top: 0px;
      }
      h3 {
        font-size: 23.56px;
        text-transform: uppercase;
        font-family: $proxima_nova_bold;
        margin: 0;
      }
      span {
        font-family: $roboto_condensed_light;
        font-size: 17.89px;
      }
    }
    .company-detail {
      padding-left: 68px;
      span.time {
        display: block;
        margin-top: 20px;
        font-family: "roboto_condensed_light";
        font-size: 17px;
        letter-spacing: 1px;
      }
      h3 {
        font-family: $proxima_nova_bold;
        font-size: 17.89px;
        color: $blue;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 20px 0 10px;
      }
      ul {
        padding-left: 20px;
        li {
          font-family: $proxima_nova_light;
          font-size: 17.89px;
          line-height: 25.56px;
          margin-bottom: 10px;
          list-style: initial;
        }
      }
    }

  }
  .carousel-caption {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    height: 48px;
  }
  .carousel-indicators {
    bottom: 15px;
    left: 90px;
    li {
      width: 16px;
      height: 16px;
      background-color: $blue;
      border: none;
      margin: 0 16px;
      &.active {
        background: $white;
      }
    }
  }
  .bx-pager.bx-default-pager {
    top: 184px;
    max-height: 0;
  }
  .portfolio-content {
    background: #fff;
  }

  ul.portfolio-content-detail-slider {
    width: 370px;
  }

  .portfolio-content-detail {
    margin: 40px 50px 50px 0;
    color: #000000;
  }

  .mobile-version {
    .bx-viewport {
      height: inherit !important;
    }
    .portfolio-bxslider-mobis {
      width: 303px;
      margin: 0 auto;
      ul {
        a {
          width: 135px;
          display: inline-block;
          margin: 0 7px 12px;
          img {
            width: 162px;
            height: 162px;
          }
        }
      }

    }
    .content-pane {
      padding-top: 50px;
    }
    .company-info {
      color: #000;
      .company-detail {
        padding: 17px 40px 25px 17px;
      }
      .company-name {
        width: 85%;
        display: block;
        padding-left: 17px;
      }
    }
    .image-content {
      float: none;
      width: 100%;
      margin-left: 0;
    }
  }
}

