
.services-page {
  .mobile-version {
    display: none;
  }
  h1.title {
    margin: 55px 0 57px 0;
  }
  .content-pane {
    font-size: 17.89px;
    line-height: 25.26px;
    h1 {
      font-size: 25.26px;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-family: "roboto_condensed_bold";
      line-height: 30px;
    }
    .slide-logo {
      .slick-slide {
        width: 130px !important;
      }
      img {
        width: auto;
        height: 40px;
        margin: 0 auto;
      }
      button {
        position: absolute;
        top: 5px;
        border: none;
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url('img/icon-sprite.png') no-repeat;
        &:active,
        &:focus {
          outline: none;
        }
      }
      .slick-prev {
        background-position: 0 -115px;
        left: -15px;
      }
      .slick-next {
        background-position: -20px -115px;
        right: -15px;
      }
    }
    .img_thumnail
     {
      width: 370px;
      float: right;
      margin-left: 35px;
    }
    ul {
      list-style: inherit;
      li {
        margin-bottom: 25px;
      }
    }
    .image-content {
      list-style: none;
      float: right;
      width: 371px;
      margin-left: 35px;
    }
    .title-brand-product {
      font-size: 14.06px;
      color: #9c9c9c;
      margin: 44px 0 21px 0;
      font-style: italic;
    }
  }
  .services-list {
    margin-bottom: 60px;
    li {
      background: $blue;
      display: inline-block;
      width: 18%;
      margin-right: 20px;
      vertical-align: top;
      border: 0;
      margin-left: 0;
      position: relative;
      &.active {
        .traingle {
          position: absolute;
          background-image: url("../images/traingle-gray.png");
          background-repeat: no-repeat;
          height: 20px;
          width: 100%;
          bottom: -20px;
          z-index: 9;
          background-size: 100%;
          left: 0;
        }
        a {
          background-image: url(img/bg-gray.png);
          color: $blue;
        }
      }
      a {
        padding: 0;
        border-radius: 0;
        &:hover {
          background-image: url(img/bg-gray.png);
          color: $blue;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .sub-title {
      text-align: center;
      text-transform: uppercase;
      font-family: "roboto_condensed_bold";
      height: 64px;
      display: table;
      width: 100%;
      position: relative;
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .services-list-content > .tab-pane.active {
    display: inline-block;
    color: $black;
    background: $white;
    padding: 40px 40px 40px 24px;
    width: 100%;
    ul {
      li {
        &.active {
          a {
            background-image: url("img/bg-gray.png");
            color: $blue;
          }
        }
        a {
          padding: 15px 0px;
          display: inline-block;
          color: $white;
          background: $blue;
          text-transform: uppercase;
          font-size: 17.89px;
          font-family: "roboto_condensed_bold";
          letter-spacing: 0.5px;
          border-radius: 0;
          box-shadow: 1px 2px 1px #ccc;
          margin-bottom: 10px;
          width: 172px;
          text-align: center;
        }
      }
    }
    .tab-content {
      .dot {
        display: inline-block;
        font-size: 80px;
        line-height: 0;
        width: 10px;
        height: 24px;
        margin-top: -12px;
        margin-right: 10px;
        vertical-align: top;
      }
      p {
        display: inline-block;
        width: 85%;
        font-size: 17.89px;
        font-family: $proxima_nova_light;
        line-height: 25.56px;
        letter-spacing: 0;
        color: black;
      }

      .image-content {
        text-align: center;
        .carousel-indicators {
          bottom: 2px !important;
          right: 0;
          position: absolute;
          left: initial;
          li {
            height: 16px;
            width: 16px;
            border-radius: 10px;
            background: $blue;
            border: none;
            margin: 16px;
            &.active {
              background: $white;
            }
          }
        }
        .carousel-caption {
          left: 0;
          width: 100%;
          bottom: 0;
          padding: 5px 10px;
          text-align: left;
          font-size: 15.33px;
          color: $white;
          font-family: $roboto_condensed_bold;
          background-color: rgba(0, 0, 0, 0.6);
          span {
            display: block;
            font-family: $roboto_condensed_light;
            margin-top: 2px;
          }
        }
      }
    }
  }
  .services-list-content #catering-equipment {
    .tab-pane.active {
        .image-content {
          width: 41.66666667%;
        }
        .text-content {
          li {
            margin-bottom: 0;
            color: #000000;
            &:first-child {
              list-style: none;
              margin-bottom: 25px;
            }
            &:last-child {
              list-style: none;
              margin-top: 37px;
              margin-bottom: 10px;
              font-style: italic;
              font-size: 14.06px;
            }
          }
          h2.title {
            list-style: none;
            text-transform: uppercase;
            color: black;
            font-size: 25.56px;
            font-family: $roboto_condensed_bold;
          }
        }
      &#catering-one {
        .image-content img {
          width: auto;
          position: relative;
          top: 115px;
        }
      }

    }
  }
}