//----------Font variables-------------
$fontPath: 'fonts/';
$proxima_nova_bold: 'proxima_nova_bold';
$proxima_nova_extrabold: 'proxima_nova_extrabold';
$proxima_nova_light: 'proxima_nova_light';
$proxima_nova_regular: 'proxima_nova_regular';
$roboto_condensed_bold: 'roboto_condensed_bold';
$roboto_condensed_light: 'roboto_condensed_light';
$roboto_condensed_regular: 'roboto_condensed_regular';

//----------Color variables-------------
$black: #171a1c;
$white: #ffffff;
$blue: #1ca5d7;